ion-header {
    display: flex;
    text-align: center;
    ion-title {
        margin-top: 0.4rem;
        margin-left: -2.5rem;
    }
}

ion-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1.5rem;
    width: 92.5%;
    text-align: center;
    height: 150px;
    h1 {
        font-size: 1.5rem;
    }
}