ion-button {
    width: 95%;
    height: 50px;
    margin-top: 3rem;
    margin-left: 0.6rem;
}

ion-card {
    width: 95%;
    margin-left: 0.6rem;
    padding: 10px;
}

.input__preco {
    color: green;
    margin-top: 0.625rem;
}

.input__date {
    margin-top: 0.625rem;
}