ion-toolbar {
    ion-title {
        margin-left: 5rem;
    }
}

.ion-title-body {
    text-align: center;
    margin-top: 5rem;
}

.texto {
    margin: 1rem;
}

ion-button {
    width: 80%;
    margin: 2.5rem;
}