.icon__arrow__back {
    margin-left: 1rem;
    zoom: 1;
    margin-top: 1rem;
}

ion-header {
    ion-icon {
        font-size: 1.4rem;
        margin: 0.8rem;
    }
    ion-title {
        margin: 0.8rem;
    }
    ion-toolbar {
        height: 3.5rem;
    }
}

.icon__trash {
    float: right;
    margin-right: 1rem;
    margin-top: -1.5rem;
    zoom: 2;
}